newspaper3k
aiohttp
jupyter 
ipywidgets
torch
asyncio
torchvision
flax
scikit-learn
BeautifulSoup4
tokenizers
datasets
sentencepiece
transformers
rouge_score
nltk
matplotlib
pyspark
seaborn
transformers
NewsSentiment
xgboost
